.venv
__pycache__
.ipynb_checkpoints

.vscode
.ruff_cache

notebooks/*
!notebooks/README.md

docs/*
!docs/README.md

data/*
!data/README.md

nh3/v1/
eg-nh3

dev-notes.md

reports

TODO.md
test_processed_output